{% extends 'base.html' %}

{% block head %}
    <title>Order Pizza!</title>
{% endblock %}

{% block body %}
    <div class="row container">
        <form class="col-md-6" action="/" method="post">
            <div class="form-row align-items-center">

                {% for item in menu %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/static/{{ item.image_file }}" alt="pizza picture">
                        <div class="container">
                            <div class="card-body">
                                <p class="card-text" id="pizza{{ item.id }}">{{ item.item_name }}</p>
                                <p class="card-text">{{ "${0:.2f}".format(item.item_cost) }}</p>
                            </div>
                            <div class="col-auto my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Quantity</label>
                                <select class="custom-select mr-sm-2" name="item{{ item.id }}" id="item{{ item.id }}">
                                    <option value=0 selected>0</option>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <div class="col-md-3">
            <div class="content-section">
                <h4>Your Order</h4>
                <p class='text-muted'>
                <ul class="list-group" style="border: 1px solid black">
                    <li class="list-group-item list-group-item-light" id="itemized1" style="display: none"></li>
                    <li class="list-group-item list-group-item-light" id="itemized2" style="display: none"></li>
                    <li class="list-group-item list-group-item-light" id="itemized3" style="display: none"></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        const selectElement1 = document.querySelector('#item1');
        const selectElement2 = document.querySelector('#item2');
        const selectElement3 = document.querySelector('#item3');

        selectElement1.addEventListener('change', (event) => {
            const el = document.querySelector('#itemized1');
            const el2 = document.querySelector('#pizza1');
            if (event.target.value > 0) {
                el.textContent = `${el2.innerHTML} x ${event.target.value}`;
                el.style.display= "block";
            } else {
                el.style.display= "none";
            }
        });
        selectElement2.addEventListener('change', (event) => {
            const el = document.querySelector('#itemized2');
            const el2 = document.querySelector('#pizza2');
            if (event.target.value > 0) {
                el.textContent = `${el2.innerHTML} x ${event.target.value}`;
                el.style.display= "block";
            } else {
                el.style.display= "none";
            }
        });
        selectElement3.addEventListener('change', (event) => {
            const el = document.querySelector('#itemized3');
            const el2 = document.querySelector('#pizza3');
            if (event.target.value > 0) {
                el.textContent = `${el2.innerHTML} x ${event.target.value}`;
                el.style.display= "block";
            } else {
                el.style.display= "none";
            }
        });
    </script>
{% endblock footer %}