<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Order Pizza!</title>
</head>
<body>
    <main role="main" class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='pizza.png') }}" alt="pizza" width="30" height="30" class="d-inline-block align-top">
                Home
            </a>
        </nav>
        <div class="row">
            <div class="col-md-5">
                <div class="content-section">
                    <h2>Your order number: {{ data[0][0].id }}</h2>
                    <p class='text-muted'>
                    <ul class="list-group">

                        {% for item in data %}
                        <div class="list-group-item list-group-item-light">
                            <div><em>{{ item[1].qty }} x {{ item[2].item_name }}</em></div>
                            <div align="right">{{ "${0:.2f}".format(item[2].item_cost * item[1].qty) }}</div>
                        </div>
                        {% endfor %}

                        <div class="list-group-item list-group-item-light" id="subTotal">
                            <div>Subtotal:</div>
                            <div align="right">{{ "${0:.2f}".format(data[0][0].order_total) }}</div>
                        </div>
                        <div class="list-group-item list-group-item-light" id="subTotal">
                            <div>Tax @ 10.0%:</div>
                            <div align="right">{{ "${0:.2f}".format(data[0][0].order_total * 0.1) }}</div>
                        </div>
                        <div class="list-group-item list-group-item-light" id="subTotal">
                            <div><b>Total:</b></div>
                            <div align="right">{{ "${0:.2f}".format(data[0][0].order_total * 1.1)}}</div>
                        </div>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>