{% extends 'base.html' %}

{% block head %}
    <title>Order Pizza!</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <div class="content-section">
                <h2>Your order number: {{ data[0][0].id }}</h2>
                <p class='text-muted'>
                <ul class="list-group">

                    {% for item in data %}

                        <div class="list-group-item list-group-item-light">
                            <div><em>{{ item[1].qty }} x {{ item[2].item_name }}</em></div>
                            <div align="right">{{ "${0:.2f}".format(item[2].item_cost * item[1].qty) }}</div>
                        </div>
                    {% endfor %}

                    <div class="list-group-item list-group-item-light">
                        <div>Subtotal:</div>
                        <div align="right">{{ "${0:.2f}".format(data[0][0].order_total) }}</div>
                    </div>
                    <div class="list-group-item list-group-item-light">
                        <div>Tax @ 10.0%:</div>
                        <div align="right">{{ "${0:.2f}".format(data[0][0].order_total * 0.1) }}</div>
                    </div>
                    <div class="list-group-item list-group-item-light">
                        <div><b>Total:</b></div>
                        <div align="right">{{ "${0:.2f}".format(data[0][0].order_total * 1.1)}}</div>
                    </div>
                </ul>
                </p>
            </div>
            <div class="col-auto my-1" align="right">
                <a href='/order_cancel/{{ data[0][0].id }}'>
                    Cancel Order?
                </a>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock footer %}